APP_PORT=8000
POSTGRES_NAME=py_postgres

POSTGRES_DB=myapp
POSTGRES_USER=admin
POSTGRES_PASSWORD=<admin_password>

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

GARAGE_RPC_SECRET="$(openssl rand -hex 16)"
GARAGE_ADMIN_TOKEN="$(openssl rand -hex 32)"
GARAGE_METRIC_TOKEN="$(openssl rand -hex 32)"

GARAGE_BUCKET_NAME="default_bucket"
GARAGE_KEY_ID="<info from generating key>"
GARAGE_KEY_SECRET="<info from generating key>"

DJANGO_SECRET_KEY="<key from django settings>"
DEBUG_MODE="<true/false>"
